In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
from pandas import DataFrame,Series
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

## Load Data

In [61]:
data_preprocessed.head()

,log_price,Mileage,EngineV,Year,Model_encoded,Brand_BMW,Brand_Mercedes-Benz,Brand_Mitsubishi,Brand_Renault,Brand_Toyota,Brand_Volkswagen,Body_hatch,Body_other,Body_sedan,Body_vagon,Body_van,Engine Type_Gas,Engine Type_Other,Engine Type_Petrol,Registration_yes
0,8.342840,277,2.0,1991,10161.603448,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1
1,8.974618,427,2.9,1999,10300.000000,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
2,9.495519,358,5.0,2003,50568.148936,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1
3,10.043249,240,4.2,2007,38698.896552,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,9.814656,120,2.0,2011,18097.224314,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1

### Declare the input and targets

In [63]:
y = data_preprocessed['log_price']
X = data_preprocessed.drop('log_price',axis=1)

### Scale data

In [64]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [65]:
x = scaler.transform(X)

In [66]:
# it is usually not recommended to standardise dummy variables
# for ML purposes, scaling has no effect on the predictive power of dummies
# Once scaled though, they loss all thier dummy meaning

## Train_Test_Split

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42)

## Save in Tensorflow format

In [69]:
np.savez('Cars_train',inputs=x_train,targets=y_train)
np.savez('Cars_test',inputs=x_test,targets=y_test)